@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* General Styling */

body {
    background-color: #FBE5B6;
    font-family: 'Roboto', sans-serif;
}

/* Navbar element */

nav {
    background-color: #F8B735;
    height: 100px;
}

/* Carousel */

.carousel-inner {
    height: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.img-header {
    height: 300px;
    margin-left: -65px;
    border-radius: 4px;
}

/* footer element */

footer {
    margin-top: 2%;
    padding-top: 2em;
    background-color: #F8B735;
    display: flex;
    flex-flow: row wrap;
 
}


.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 250px;
    object-fit: fill;
}

