{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8">
            <h4 class="text-center mt-2 mb-3">Edit reservation</h4>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-sm-4">
            <h4 class="text-center my-3">Reservation ID: {{ reservation.id }}</h4>
            <form method="POST" class="form group">

                {% csrf_token %}
                {{ form|crispy }}

                <button type="submit" value="post" class="btn btn-warning mb-4">
                    Edit Reservation</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}