@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* General Styling */

body {
    background-color: #000000;
    background-image: linear-gradient(#ffff 0%, #ff1a1a 80%);
    font-family: 'Roboto', sans-serif;
}

.carousel-inner {
    height: 600px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.img-header {
    height: 300px;
    margin-left: -65px;
    border-radius: 4px;
}